{% extends "base.html" %}

{% block title %}ドキュメントの詳細{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}
<h2 class="page-header">{{ object.name }}の詳細</h2>
<h3>ID</h3>
<p>{{ object.id }}
<h3>ドキュメント名</h3>
<p>{{ object.name }}</p>
<h3>説明</h3>
<p>{{ object.description }}</p>

<h3>Related Process</h3>
<ul>
    {% for r in rel_processes %}
    <li><a href="../../process/{{ r.id }}">{{ r.process.name }}</a></li>
    {% endfor %}
</ul>

<footer class="footer">
    <p class="pull-right"> 2015. Sony Corpolation ALL Rights Reserved.</p>
    <p class="pull-left"><a href="../../">Back to TOP</a>
</footer>

{% endblock content %}
