{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %}プロセスの詳細{% endblock title %}

{% block extrahead %}{% endblock %}

{% block content %}
  <h2 class="page-header">{{ object.name }}の詳細</h2>
  <h3>ID</h3>
  <p>{{ object.id }}</p>

  <div class="bs-callout bs-callout-info">
    <h3>工程名 Process</h3>
    <p>{{ object.name }}</p>
  </div>

  <div class="bs-callout bs-callout-info">
    <h3>概要 Summary</h3>
    <p>{{ object.summary | markdown }}</p>
  </div>

  <div class="bs-callout bs-callout-danger">
    <h3>説明 Description</h3>
    <p>{{ object.description | markdown }}</p>
  </div>

  <div class="bs-callout bs-callout-warning">
    <h3>入力文書 Input Document</h3>
    <ul>
      {% for i in in_docs %}
        <li>
          <a href="../../document/{{ i.document.id }}">{{ i.document.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="bs-callout bs-callout-warning">
    <h3>出力文書 Output Document</h3>
    <ul>
      {% for i in out_docs %}
        <li>
          <a href="../../document/{{ i.document.id }}">{{ i.document.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="bs-callout bs-callout-warning">
    <h3>関連する規格要求 Related Requirement</h3>
    <ul>
      {% for r in object.requirement_set.all %}
        <li>
          <a href="../../requirement/{{ r.id }}">{{ r.requirement_number }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <p class="pull-left" style="margin: 50px 0">
    <a href="../../">Back to TOP</a>
  </p>

{% endblock content %}
