{% extends "base.html" %}

{% block title %}ドキュメントの詳細{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}
<h2 class="page-header">{{ object.name }}の詳細</h2>
<h3>ID</h3>
<p>{{ object.id }}
<h3>ドキュメント名 Document Name</h3>
<p>{{ object.name }}</p>
<h3>説明 Description</h3>
<p>{{ object.description }}</p>

<h3>関連する工程 Related Process</h3>
<ul>
    {% for r in rel_processes %}
    <li><a href="../../process/{{ r.process.id }}">{{ r.process.name }}</a></li>
    {% endfor %}
</ul>

<h3>関連する規格要求 Related Requirement</h3>
<ul>
    {% for r in object.requirement_set.all %}
    <li><a href="../../requirement/{{ r.id }}">{{ r.requirement_number }}</a></li>
    {% endfor %}
</ul>



<footer class="footer">
    <p class="pull-right"> 2015. Sony Corpolation ALL Rights Reserved.</p>
    <p class="pull-left"><a href="../../">Back to TOP</a>
</footer>

{% endblock content %}
