{% extends "base.html" %}

{% block title %}プロセスの一覧{% endblock title %}
{% block extrahead %}{% endblock %}

{% block content %}

  <header class="jumbotron hero-spacer">
    <h1 class="page-header">ISO26262情報のサイト</h1>
    <p>ISO26262適合設計プロセスに関する情報をまとめたサイトです</p>
  </header>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2>Latest Updates</h2>
      <table class='table table-striped table-hover'>
        <thead>
          <th>
            <td>更新日 date</td>
            <td>内容 contents</td>
          </th>
        </thead>
        <tbody>
          <th>
            <td>aaa</td>
            <td>bbb</td>
          </th>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">.col-md-1 aaaa bbb cc dd日本語は同名手いるんでしょうか。</div>
    <div class="col-md-3">いろはにほへとちりぬるをはなよだれそつねならむ</div>
    <div class="col-md-3">.col-md-1</div>
    <div class="col-md-3">.col-md-1</div>

  </div>






{% endblock content %}
