{% extends "base.html" %}

{% block title %}プロセスの一覧{% endblock title %}

{% block extrahead %}
<style>
table {
    margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
<h3 class="page-header">プロセスの一覧</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>プロセス名</th>
        </tr>
    </thead>
    <tbody>
    {% for i in object_list %}
    <tr>
        <td>{{ i.id }}</td>
        <td><a href="./{{ i.id }}">{{ i.name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
